/.vscode
/disassembly.txt
/lab05.exe
/lab05.ilk
/lab05.obj
/lab05.pdb
/Lab05_Task2_sendToDiscord.exe
/Lab05_Task2_sendToDiscord.ilk
/Lab05_Task2_sendToDiscord.obj
/Lab05_Task2_sendToDiscord.pdb
/opt_CDA-3100-01-ComputerArchitecture.exe
/opt_CDA-3100-01-ComputerArchitecture.ilk
/opt_CDA-3100-01-ComputerArchitecture.obj
/opt_CDA-3100-01-ComputerArchitecture.pdb
/vc140.pdb